<!-- Tether -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" integrity="sha256-y4TDcAD4/j5o4keZvggf698Cr9Oc7JZ+gGMax23qmVA=" crossorigin="anonymous" />

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha256-mIfhv/h3MLq3WSiSlduuZO3saRNzzuf1LK8w3z3l3JY=" crossorigin="anonymous" />

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

{% comment %} Only output Galleria CSS for house listing page {% endcomment %}
{% if page.url != "/listings/" and page.url contains "/listings/" %}

<!-- Galleria Classic Theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.7/themes/classic/galleria.classic.min.css" integrity="sha256-yDYVIXzHkTF12ipn95n8WCmrHun6hr5IKWE/Rz0Ip6M=" crossorigin="anonymous" />

{% endif %}

{% comment %} Only output FooTable CSS for house listing page {% endcomment %}
{% if page.url == "/listings/" %}

<!-- FooTable -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.3/footable.bootstrap.min.css" integrity="sha256-HRYSODw3OhYoZZ9obMQT9gq1rMH+0IE556KE3zRO2DY=" crossorigin="anonymous" />

{% endif %}
