<div class="footer">
  <div class="footer-wrapper container">
    <div class"row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="affiliates">
          <h4>Affiliates</h4>
          <ul class="list-unstyled">
              <li><img src="{{ "/assets/images/sageLogo.png" | relative_url }}" alt="Sage Acquisitions Logo" /></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 offset-md-6 offset-lg-8">
        <div class="contact-info">
          <h4>Contact Information</h4>
          <p class="text-muted">
              Yani Pilar - Office Manager<br />
              Broker &amp; Real Estate Agent<br />
              Phone: (352) 462-0414<br />
              Toll Free: 1 (800) 418-4261<br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-row">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <span>© {{ date: "%Y" }} West Point Real Estate, inc. All rights reserved.</span>
        <a></a> |
        <a href="https://techmunchies.net" class="techmunchies">site by <img src="{{ "/assets/images/techmunchiesLogo.png" | relative_url }}" alt="techmunchies Site Logo"> techmunchies</a>
      </div>
    </div>
  </div>
</div>

<!--
<div class="navbar-collapse collapse inverse" id="contact-header">
    <div class="container-fluid">
        <div class="contact-info">
            <h4>Contact Information</h4>
            <p class="text-muted">
                Yani Pilar - Office Manager<br />
                Broker &amp; Real Estate Agent<br />
                Phone: (352) 462-0414<br />
                Toll Free: 1 (800) 418-4261<br />
            </p>
        </div>
        <div class="affiliates">
            <h4>Affiliates</h4>
            <ul class="list-unstyled">
                <li><img src="../img/sageLogo.png" alt="Sage Acquisitions Logo" /></li>
            </ul>
        </div>
    </div>
</div>
-->
