<div class="header">
  <nav class="nav nav-inline nav-pills">
    {% for my_page in site.pages %}
    {% if my_page.title %}
    {% if my_page.url == page.url %}
    <a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% elsif my_page.url == page.stub %}
    <a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% else %}
    <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
    <a class="search-link" id="global-search" role="button">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </a>
  </nav>
</div>
