<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Tether -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha256-j+XrvkQ4jJ99Hj0pJKPr6k0RCgxDDSTs3PBqLrX2EMc=" crossorigin="anonymous"></script>

{% comment %} Only output Galleria JS for house listing page {% endcomment %}
{% if page.url != "/listings/" and page.url contains "/listings/" %}

<!-- Galleria -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.7/galleria.min.js" integrity="sha256-kqAqpUlSb25GNAoef/q0iNbyyjkUl6OFelfxyOy2d2c=" crossorigin="anonymous"></script>

{% endif %}

{% comment %} Only output FooTable JS for house listing page {% endcomment %}
{% if page.url == "/listings/" %}

<!-- FooTable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.3/footable.min.js" integrity="sha256-IJfb2TAFJe7ks1cbXgKJ7VYAZzFy2gQhktkW2x1pXqw=" crossorigin="anonymous"></script>

{% endif %}

<script src="{{ "/assets/main.js" | relative_url }}"></script>
