//
// Site header
//
.search-link:active > i,
.search-link:focus > i,
.search-link:hover > i {
  color: $green;
}

//
// Home Page Jumbotron
//
.jumbotron {
  background-color: $white;
  margin-bottom: 0;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

//
// Home Page Houses
//
.card-img-top {
  height: auto;
  object-fit: scale-down;
  object-position: center;
  width: 100%;
}

//
// Site Footer
//
.footer {
  border-top: 2px solid $divider;

  .affiliates img {
    height: 33px;
    width: 122px;
  }
}

.footer-bottom-row {
  background-color: $dark-gray;
  color: $gray;
  font-size: $small-font-size;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;

  a {
    color: $light-gray;

    &:active,
    &:focus,
    &:hover {
      background-color: $light-gray;
      color: $dark-gray;
      text-decoration: none;
    }

    > img {
      height: $small-font-size;
      line-height: $small-font-size;
      vertical-align: -1.5px;
      width: $small-font-size;
    }
  }
}
