---
---
@charset "utf-8";

// Our variables
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Colors
$white:      #fff;
$green:      #5cb85c;
$divider:    #e9e9e9;
$dark-gray:  #333;
$gray:       #666;
$light-gray: #999;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from the `westpointrealtors-theme` theme
@import "westpointrealtors-theme";
