---
layout: default
---
<section class="jumbotron text-xs-center">
  <h1 class="jumbotron-heading">West Point Real Estate</h1>
  <p class="lead text-muted">
    The BEST for our customers, period.
  </p>
  <br />
  <br />
  <br />
</section>
<div class="card-deck-wrapper">
  {% assign houses = site.houses | where:"archived",false %}
  {% assign houses = houses | where:"homepage",true %}
  {% assign i = 0 %}
  {% for house in houses limit: site.homepage_limit %}
    {% assign new_card_deck = i | modulo: 3 %}
    {% if new_card_deck == 0 %}
      {% assign card_deck_added = true %}
      <div class="card-deck">
    {% endif %}
    {% if house.archived == false and house.homepage %}
    {% assign house_name = house.address | remove: "," | replace: " ", "-" %}
      <div class="card">
        <a href="{{ "/listings/" | append: house_name | append: "/" }}" title="Click to view listing">
          <img class="card-img-top" src="{{ "/assets/images/houses/" | append: house_name | append: "/" | append: house.cover_image | relative_url }}" alt="Cover Photo of {{ house.address }}">
        </a>
        <div class="card-block">
          <h4 class="card-title"><a href="{{ "/listings/" | append: house_name | append: "/" }}" title="Click to view listing">{{ house.address }}</a></h4>
          <p class="card-text">{{ house.content }}</p>
          <p class="card-text"><small class="text-muted">{{ house.list_date }}</small></p>
        </div>
      </div>
      {% assign i = i | plus: 1 %}
    {% endif %}
    {% assign new_card_deck = i | modulo: 3 %}
    {% if new_card_deck == 0 %}
      </div>
    {% endif %}
  {% endfor %}
  {% if new_card_deck != 0 %}
    </div>
  {% endif %}
</div>
